@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=Manrope&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'IBM Plex Mono', 'Manrope',sans-serif;
    background-color: #000;
}

a{
    text-decoration: none;
    color: inherit;
}

p{
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.03em;
    color: #fff;
}

h1{
    font-weight: 400;
    letter-spacing: -0.03em;
}

h2,h3{
    color: #fff;
    letter-spacing: -0.03em;
}

.container{
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
    position: relative;
    height: 765px;
    padding-top: 30px;
    margin-bottom: 150px;
    background-image: url(../resources/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.header__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu__list{
    display: flex;
    align-items: center;
    gap: 50px;
    color: #ffffff;

}

.header__menu__list-item{
    color: #ffffff;
    font-size: 20px;
}

.header__menu__list-item:before{
    position: absolute;
    left: -0.7em;
    content: ">";
    color: transparent;
}

.header__menu__list-item:hover{
    text-shadow: 0 0 2px #1BFF07;
    margin-left: 0.5em;
    outline: none;
    position: relative;
    transition: 0.3s ease all;
    transform: scale(1.25);
}

.header__inner{
    width: 130px;
    height: 39px;
    background-color: #000;
    border-radius: 100px;
    padding: 5px 19px;
}
    
.header__logo{
    width: 120px;
    color: #1BFF07;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: -0.11em;
    text-transform: uppercase;
}

.header__wrapper{
    position: absolute;
    bottom: 88px;
}

.header__wrapper__text{
    width: 430px;
    font-size: 20px;
    margin-bottom: 30px;
}

.header__wrapper__title{
    width: 919px;
    font-size: 80px;
    line-height: 87%;
    color: #1bff07;
    position: relative;
    /* cursor: pointer; */
}

.header__wrapper__title::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -15px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: black; /* Цвет подчеркивания при исчезании линии*/
    transition: 0.5s; 
}

.header__wrapper__title:hover::after{
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 3px; 
    background-color: #1bff07; 
    transition: 0.5s; 
}

.projects{
    margin-bottom: 150px;
}

.projects__title{
    margin-left: -5px;
    font-size: 55px;
    color: #fff;
    margin-bottom: 40px;
}

.projects__item{
    position: relative;
}

.projects__item:last-of-type{
    margin-bottom: 80px;
}

.projects__item-img{
    width: 1150px;
    height: 550px;
    border-radius: 30px;
}

.projects__item-text{
    position: absolute;
    bottom: 50px;
    left: 50px;
    color: #fff;
}

.projects__item-text p{
    font-size: 30px;
}

.projects__item-text h3{
    font-size: 35px;
}

.projects__button{
    position: relative;
    width: 582px;
    height: 153px;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    background-color: #1BFF07;
    cursor: pointer;
}



.projects__button::before{
    content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 153px;
	background: rgba(6, 238, 153, 0.423);
	border-radius: 5px;
	transition: all 2s ease;
}

.projects__button:hover::before{
    width: 100%;
}

.skills{
    margin-bottom: 150px;
}

.skills__title{
    margin-bottom: 50px;
    font-size: 55px;
}  

.skills__list{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.skills__item{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.skills__item-title{
    font-size: 35px;
    color: #1bff07;
}

.skills__item-text{
    width: 778px;
    font-size: 22px;
}

.offers{
    margin-bottom: 150px;
}

.offers__title{
    width: 403px;
    font-size: 35px;
    margin-bottom: 75px;
}

.offers__list{
    display: flex;
    flex-direction: column;
    gap: 75px;
}

.offers__item-img{
    border-radius: 30px;
}

.offers__item-wrapper{
    position: relative;
    background-color: #191C19;
    border-radius: 30px;
    padding: 40px 62px 40px;
}

.offers__wrapper-title{
    font-size: 55px;
    color: #1bff07;
    margin-bottom: 15px;
}

.offers__wrapper-text{
    font-size: 22px;
    width: 749px;
}

.contacts{
    background-color: #191C19;
    position: relative;
    border-radius: 30px;
    margin-bottom: 150px;
}

.contacts__wrapper{
    position: absolute;
    bottom: 90px;
}

.contacts__title{
    position: relative;
    font-size: 35px;
    line-height: 171%;
}

.contacts__list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacts__link{
    font-size: 60px;
    color: #fff;
    line-height: 100%;
}

.contacts__img{
    margin-left: 673px;
}

.footer{
    background-color: #fff;
    position: relative;
    padding: 76px 0 90px;
}

.footer__title{
    margin-bottom: 66px;
    font-size: 22px;
    color: #000;
}

.footer__text{
    font-size: 20px;
    color: #000;
    opacity: 0.5;
}
